            body{
                background-color: rgb(216, 182, 169);
            }
            
            h1{
                display: none;
            }
            a {
                text-decoration: none;
                color: #000;
            }
            a:hover {
                text-decoration: underline;
            }
            code {
                font-size: large;
                font-weight: 500;
                margin-left: 40px;
            }
            
            pre {
                display: block;
                font-family: monospace;
                white-space: pre;
                margin: 1em 0;
            }
            
            p {
                size: 22px;
            }
            
            body {
                font-family: Arial, Helvetica, sans-serif;
                background-color: rgb(203, 234, 255);
                margin-left: auto;
                margin-right: auto;
                text-emphasis: none;
                text-decoration: double;
                text-transform: initial;
                text-size-adjust: 12;
                margin-left: auto;
                margin-right: auto;
                width: 85%;
            }
            
            
            
            p {
                font-size: 18px;
                font-family: monospace, cursive;
            }
            ul{
                font-size: 22px;
            }

            footer{
                display: none;
            }

